# fhevm temp
fhevmTemp

# hardhat build output
artifacts
build
cache
coverage
dist
types
tmp
deployments
.coverage_artifacts
.coverage_cache
.coverage_contracts
coverage.json

# dependencies
node_modules

# vercel
.vercel

# env & secrets
*.env
.env*

# logs
*.log

# os
.DS_Store

# package managers
.pnp.*
pnpm-lock.yaml
yarn.lock

# claude internal
CLAUDE.md
AGENTS.md
deployments-export/
